.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  a h3 {
    padding-top: 127px;
    padding-left: 16px;
    color: #f7f7f7;
    font-family: 'Telex', sans-serif;
  }
  a:hover {
    text-decoration: none;
    color: #8669b2;
  }
  h3:hover {
    color: #8669b2;
  }
}

.card-category {
  width: 330px;
  height: 200px;
  border-radius: 8px;
  background: round;
  background-size: cover;
}

.container {
  width: 1053px;
  padding-left: 0px;
  padding-right: 0px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
