.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.bordered-title {
  border-bottom: solid;
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
  margin-bottom: 50px;
}
